<p style="font-size:10pt; text-align:center">
    Introduction to Data Science
</p>
<p style="font-size:20pt; text-align:center">
    Pandas I
</p>
<p style="font-size:15pt; text-align:center">
Creation Subtraction
</p>

# Pandas Basics I

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
#import seaborn as sns
import numpy as np
import pandas as pd

#plt.style.use('fivethirtyeight')
#sns.set_context("notebook")

## Creating a Dataframe </a>

Pandas引入了`Dataframe `，它将数据表示为一个包含行和列的表格。

### `pd.DataFrame(dict)`

In Pandas, we can use the function `pd.DataFrame` 初始化来自字典或类列表对象的数据帧。

Refer to the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) for more information

In [6]:
# example: creating a dataframe from a dictionary
df_from_dict = pd.DataFrame({ 'letter' : ['a', 'b', 'c', 'z'],
                      'count' : [  9,   3,   3,   1],
                      'points' : [  1,   2,   2,  10]})
df_from_dict
# df_from_dict["count"]

  letter  count  points
0      a      9       1
1      b      3       2
2      c      3       2
3      z      1      10

### `pd.DataFrame(list)`

In [7]:
# example: creating a dataframe from a list of dictionary
df_from_listofdict = pd.DataFrame([
    {"letter":"a","count":9,"points":1},
    {"letter":"b","count":3,"points":2},
    {"letter":"c","count":3,"points":2},
    {"letter":"d","count":1,"points":10},
])
df_from_listofdict

  letter  count  points
0      a      9       1
1      b      3       2
2      c      3       2
3      d      1      10

### `pd.read_csv(file_name, index_col)`

Pandas有很多非常有用的文件读取工具,今天我们将使用read_csv。

In [8]:
elections = pd.read_csv("elections.csv")
elections # if we end a cell with an expression or variable name, the result will print

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

检查 dataframe.

In [9]:
elections.head()

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [10]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

### 行列名问题

#### read_csv中

##### `index_col =`指定行名

In [11]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")
elections_year_index.head(3)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss

##### `header =`指定列名
None表示没有行名

In [12]:
elections_year_index = pd.read_csv("elections.csv",header=None)
elections_year_index.head(3)

           0           1     2     3       4
0  Candidate       Party     %  Year  Result
1     Reagan  Republican  50.7  1980     win
2     Carter  Democratic    41  1980    loss

names = stock_num

#### dataframe中

##### `set_index`指定行名

In [13]:
elections_party_index = elections.set_index("Party")
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

In [14]:
elections.keys = list('abcde')
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

set_index命令(以及所有其他数据帧方法)**不修改原数据帧**。

也就是说，最初的“选举”没有受到影响。注意:有一个名为“inplace”的标志，它修改调用的数据帧。

The set_index command (along with all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe.

相反，列名理想情况下是唯一的。例如，如果我们试图读取一个列名不是唯一的文件，Pandas将**自动重命名任何重复列名**。

In [9]:
dups = pd.read_csv("duplicate_columns.csv")
dups

    name    name.1     flavor
0   john     smith    vanilla
1  zhang      shan  chocolate
2  fulan  alfulani        NaN
3   hong   gildong     banana

## The [ ] Operator
要不然对行，要不然对列，反之没办法都取。

对行不能是item的形式。

### `df ["col_name"] `
返回`Series` index 和对应的 col

In [10]:
elections_year_index.head(6)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win

In [108]:
elections_year_index["Candidate"]

Year
1980      Reagan
1980      Carter
1980    Anderson
1984      Reagan
1984     Mondale
1988        Bush
1988     Dukakis
1992     Clinton
1992        Bush
1992       Perot
1996     Clinton
1996        Dole
1996       Perot
2000        Gore
2000        Bush
2004       Kerry
2004        Bush
2008       Obama
2008      McCain
2012       Obama
2012      Romney
2016     Clinton
2016       Trump
Name: Candidate, dtype: object

### `df [["col_name1","col_name2"]]`
返回`dataframe` :返回 index 和对应的 cols

In [12]:
elections_year_index[["Candidate", "Party"]].head()

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

### `df [["col_name"]]`
返回`dataframe` :返回 index 和对应的 col

一个col_name的list也返回一个DataFrame。如果您希望您的结果作为一个DataFrame，而不是一个series，这将非常方便。

In [13]:
elections_year_index[["Candidate"]].head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

### `Series->DF .to_frame()` 

注意，我们还可以使用to_frame方法将Series转换为DataFrame。

In [14]:
elections_year_index["Candidate"].to_frame().head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

### `df [row_a:row_b]`

[]操作符也接受数值切片作为参数。在这种情况下，我们是**按行索引**，而不是按列索引!

In [15]:
elections_year_index[:3]

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss

[ ] 特点：
如果向[]操作符传递单个参数，它会尝试将其用作列名称，而非行号，即使传递给[]的参数是一个整数。

In [16]:
# elections_year_index[0] #this does not work, try uncommenting this to see it fail in action, woo

下面的单元格可以测试您的理解能力。

In [17]:
weird = pd.DataFrame({
    1:["topdog","botdog"], # 列名为数字1
    "1":["topcat","botcat"] # 列名为字符“1”
})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [18]:
weird[1] # 单个参数，treat as col_name，是第1列

0    topdog
1    botdog
Name: 1, dtype: object

In [19]:
weird["1"] # 单个参数，treat as col_name，是第二列

0    topcat
1    botcat
Name: 1, dtype: object

In [20]:
weird[1:] # 序列参数，treat as row index，从第二列开始到末尾

        1       1
1  botdog  botcat

## `[true,false,...]`Boolean ROW Selection

[]操作符也支持布尔数组作为输入。在这种情况下，**数组必须恰好与行数一样长**。

结果是经过筛选的数据帧版本，其中只显示与True对应的行。

In [21]:
elections_year_index[[False, False, False, False, False, 
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, False, True]]

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

### 比较Series获得boolean series

数据科学中一个非常常见的任务就是过滤。在Pandas中，布尔数组选择是实现这一点的一种方法。

我们从观察逻辑运算符开始，比如相等运算符可以应用到Pandas Series数据来生成布尔数组。例如，我们可以比较'Result'列和字符串'win':

In [22]:
elections_year_index.head(2)

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss

In [23]:
iswin = elections_year_index['Result'] == 'win'
iswin.head(5)
# elections_year_index[iswin]

Year
1980     True
1980    False
1980    False
1984     True
1984    False
Name: Result, dtype: bool

Series上的逻辑操作，输出的是另一个具有索引的Series，数据类型为布尔型。

第i行上的项表示将该操作符应用于原始Series在第i行上的项的结果。

### Boolean series作为[]的参数
这样一个布尔级数可以用作[]操作符的参数。

In [24]:
elections_year_index[iswin]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

### 按列的内容提取
通常，这个系列都是在同一条线上创作和使用的。这样的代码一开始读起来有点棘手，但是您很快就会习惯的。

#### 一个条件:df[boolean series]

In [56]:
# 只要胜选的
elections_year_index[elections_year_index['Result'] == 'win']

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

In [27]:
# 只要选票小于50%的
elections_year_index[elections_year_index["%"]<50]

     Candidate        Party     % Result
Year
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984   Mondale   Democratic  37.6   loss
1988   Dukakis   Democratic  45.6   loss
1992   Clinton   Democratic  43.0    win
1992      Bush   Republican  37.4   loss
1992     Perot  Independent  18.9   loss
1996   Clinton   Democratic  49.2    win
1996      Dole   Republican  40.7   loss
1996     Perot  Independent   8.4   loss
2000      Gore   Democratic  48.4   loss
2000      Bush   Republican  47.9    win
2004     Kerry   Democratic  48.3   loss
2008    McCain   Republican  45.7   loss
2012    Romney   Republican  47.2   loss
2016   Clinton   Democratic  48.2   loss
2016     Trump   Republican  46.1    win

#### 多个条件:df[bl series1 & bl series1]
我们可以通过创建多个boolean Series并使用:
 - & 且
 - | 或

In [28]:
elections_year_index[(elections_year_index['Result'] == 'win')
          & (elections_year_index['%'] < 50)]

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

In [29]:
elections_year_index[(elections_year_index['Party'] == 'Republican')
          | (elections_year_index['Party'] == "Democratic")]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

#### isin([item1,item2])
如果我们有多个条件(比如共和党或民主党)，我们可以使用isin操作符来简化代码。

Whether each element in the DataFrame is contained in values.

In [30]:
elections_year_index['Party'].isin(["Republican", "Democratic"]) # is 后面 in 前面

Year
1980     True
1980     True
1980    False
1984     True
1984     True
1988     True
1988     True
1992     True
1992     True
1992    False
1996     True
1996     True
1996    False
2000     True
2000     True
2004     True
2004     True
2008     True
2008     True
2012     True
2012     True
2016     True
2016     True
Name: Party, dtype: bool

In [31]:
elections_year_index[elections_year_index['Party'].isin(["Republican", "Democratic"])]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

In [65]:
elections_year_index.head(2)

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss

In [72]:
elections_year_index.loc[1980:1986]

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

### `.loc[row_index，col_name]`提取

 - 提取行：
     - `df.loc[row_index]` :提取行不用管列
 - 提取列：
     - `df.loc[:,col_name]` :提取列要管行
 - `.loc[]`返回Series, `.loc[[]]`返回dataframe(只要是两个框)
 - 行列表示：
     - item:
     - list: [ ]
     - slice: a:b

In [32]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [63]:
# 行
elections.loc[2]

Candidate       Anderson
Party        Independent
%                    6.6
Year                1980
Result              loss
Name: 2, dtype: object

In [84]:
# 列
elections.loc[:,"Party"].head(3)

0     Republican
1     Democratic
2    Independent
Name: Party, dtype: object

In [79]:
# 列
elections.loc[:,["Party"]].head(3)

         Party
0   Republican
1   Democratic
2  Independent

In [80]:
# 列
elections.loc[:,["Party","Result"]].head(3)

         Party Result
0   Republican    win
1   Democratic   loss
2  Independent   loss

注意:如果我们使用 **年份做index** 的选举DataFrame, `loc`将不能使用行号做参数，而是**年份做参数**。

In [85]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [86]:
#causes error
# elections_year_index.loc[[0, 1, 2, 3, 4], ['Candidate','Party']]

In [87]:
elections_year_index.loc[[1980, 1984], ['Candidate','Party']]

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

#### 行列用slice表示
Loc还支持切片(适用于所有类型，包括数字和字符串标签!)注意，loc的切片是**包含两端**的，即使是数字切片。

In [89]:
elections.loc[0, 'Candidate':'Year']

Candidate        Reagan
Party        Republican
%                  50.7
Year               1980
Name: 0, dtype: object

如果只给出一行而给出多个列标签，我们将得到对应于表中的一行的Series。

这个新的Series有一个整洁的索引，其中每个条目都是数据来自的列的名称。

In [41]:
elections.loc[0, 'Candidate':'Year']

Candidate        Reagan
Party        Republican
%                  50.7
Year               1980
Name: 0, dtype: object

In [42]:
elections.loc[[0], 'Candidate':'Year'] # 注意构造dataframe的方法

  Candidate       Party     %  Year
0    Reagan  Republican  50.7  1980

如果我们完全忽略column参数，默认行为是检索所有列。 反之不然。

In [43]:
elections.loc[[2, 4, 5]]

  Candidate        Party     %  Year Result
2  Anderson  Independent   6.6  1980   loss
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win

Loc还支持布尔数组输入，而不是标签。

布尔数组的长度必须分别与数据帧的行/列形状相同。

In [109]:
elections.loc[elections["Year"]<1990,:] # column mask].head(3)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss

In [94]:
elections.loc[:,[True, False, False, True, True]] # column mask].head(3)

  Candidate  Year Result
0    Reagan  1980    win
1    Carter  1980   loss
2  Anderson  1980   loss

In [44]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              [True, False, False, True, True] # column mask
             ]

   Candidate  Year Result
0     Reagan  1980    win
3     Reagan  1984    win
6    Dukakis  1988   loss
7    Clinton  1992    win
8       Bush  1992   loss
11      Dole  1996   loss
12     Perot  1996   loss
13      Gore  2000   loss
15     Kerry  2004   loss
16      Bush  2004    win
20    Romney  2012   loss

In [45]:
elections.loc[[0, 3], ['Candidate', 'Year']]

  Candidate  Year
0    Reagan  1980
3    Reagan  1984

We can use boolean array arguments for one axis of the data, and labels for the other.

In [46]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask              
              'Candidate':'%' # column label slice
             ]

   Candidate        Party     %
0     Reagan   Republican  50.7
3     Reagan   Republican  58.8
6    Dukakis   Democratic  45.6
7    Clinton   Democratic  43.0
8       Bush   Republican  37.4
11      Dole   Republican  40.7
12     Perot  Independent   8.4
13      Gore   Democratic  48.4
15     Kerry   Democratic  48.3
16      Bush   Republican  50.7
20    Romney   Republican  47.2

如果为请求的行和列提供标量参数，会发生什么情况?答案是你只会得到一个值。

In [47]:
elections.loc[15, '%']

48.3

## `.iloc[row_posi,col_posi]`

`loc`同`iloc`非常相似,但用于访问基于位置而不是标签。

例如，要访问表的前3行和前3列，我们可以使用[0:3,0:3]。iloc切片是**前开后闭的**，就像标准的Python数值切片一样。

In [48]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [49]:
elections.iloc[:3, 2:]

      %  Year Result
0  50.7  1980    win
1  41.0  1980   loss
2   6.6  1980   loss

## `map()`数据替换
[看这里](http://localhost:8889/notebooks/Desktop/%E5%A4%A7%E5%9B%9B%E4%B8%8A/%E6%95%B0%E6%8D%AE%E7%A7%91%E5%AD%A6%E5%AF%BC%E8%AE%BA/Lecture_Note/4.Data_Cleaning/Notes_02_Data_Cleaning.ipynb#map()%E6%95%B0%E6%8D%AE%E6%9B%BF%E6%8D%A2)

## Quick Challenge

Return DataFrame of the first 3 Candidate and Year for candidates that won with more than 50% of the vote.

## Connect to numpy

使用`.values`可以很容易地将数据帧中的值转换为numpy数组。

In [110]:
elections

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

In [112]:
percentage = elections["%"].values
percentage, type(percentage)

(array([50.7, 41. ,  6.6, 58.8, 37.6, 53.4, 45.6, 43. , 37.4, 18.9, 49.2,
        40.7,  8.4, 48.4, 47.9, 48.3, 50.7, 52.9, 45.7, 51.1, 47.2, 48.2,
        46.1]),
 numpy.ndarray)

In [124]:
elections.T.values

array([['Reagan', 'Carter', 'Anderson', 'Reagan', 'Mondale', 'Bush',
        'Dukakis', 'Clinton', 'Bush', 'Perot', 'Clinton', 'Dole',
        'Perot', 'Gore', 'Bush', 'Kerry', 'Bush', 'Obama', 'McCain',
        'Obama', 'Romney', 'Clinton', 'Trump'],
       ['Republican', 'Democratic', 'Independent', 'Republican',
        'Democratic', 'Republican', 'Democratic', 'Democratic',
        'Republican', 'Independent', 'Democratic', 'Republican',
        'Independent', 'Democratic', 'Republican', 'Democratic',
        'Republican', 'Democratic', 'Republican', 'Democratic',
        'Republican', 'Democratic', 'Republican'],
       [50.7, 41.0, 6.6, 58.8, 37.6, 53.4, 45.6, 43.0, 37.4, 18.9, 49.2,
        40.7, 8.4, 48.4, 47.9, 48.3, 50.7, 52.9, 45.7, 51.1, 47.2, 48.2,
        46.1],
       [1980, 1980, 1980, 1984, 1984, 1988, 1988, 1992, 1992, 1992, 1996,
        1996, 1996, 2000, 2000, 2004, 2004, 2008, 2008, 2012, 2012, 2016,
        2016],
       ['win', 'loss', 'loss', 'win', 'loss', 'win', 'loss', 'win',
        'loss', 'loss', 'win', 'loss', 'loss', 'loss', 'win', 'loss',
        'win', 'win', 'loss', 'win', 'loss', 'loss', 'win']], dtype=object)

## Handy Properties and Utility Functions

### Python Operations on Numerical DataFrames and Series

我们可以对`DataFrames`和`Series`执行各种Python操作(包括`numpy`操作)。

In [127]:
elections.head(3)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss

In [147]:
winners = elections.loc[elections['Result']=='win']
winners

   Candidate       Party     %  Year Result
0     Reagan  Republican  50.7  1980    win
3     Reagan  Republican  58.8  1984    win
5       Bush  Republican  53.4  1988    win
7    Clinton  Democratic  43.0  1992    win
10   Clinton  Democratic  49.2  1996    win
14      Bush  Republican  47.9  2000    win
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
19     Obama  Democratic  51.1  2012    win
22     Trump  Republican  46.1  2016    win

In [159]:
max(winners['%'])

58.8

In [160]:
np.mean(winners['%']) # 不要用math！

50.38

We can also do more complicated operations like computing the mean squared error, i.e. the average L2 loss. (This will mean more in the next few weeks.)

In [151]:
c = 50.38
mse = np.mean((c - winners)**2)
mse

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [145]:
c2 = 50.35
mse2 = np.mean((c2 - winners)**2)
mse2

16.742499999999996

We can also apply mathematical operations to a DataFrame so long as it has only numerical data.

In [146]:
(elections[["%", "Year"]] + 3).head(5)

      %  Year
0  53.7  1983
1  44.0  1983
2   9.6  1983
3  61.8  1987
4  40.6  1987

### Handy Utility Methods

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with.

We can get a direct reference to the index using `.index`, and access the column names using `.columns`

In [161]:
mottos.index

NameError: name 'mottos' is not defined

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [162]:
elections.sort_values('%', ascending=False)

   Candidate        Party     %  Year Result
3     Reagan   Republican  58.8  1984    win
5       Bush   Republican  53.4  1988    win
17     Obama   Democratic  52.9  2008    win
19     Obama   Democratic  51.1  2012    win
0     Reagan   Republican  50.7  1980    win
16      Bush   Republican  50.7  2004    win
10   Clinton   Democratic  49.2  1996    win
13      Gore   Democratic  48.4  2000   loss
15     Kerry   Democratic  48.3  2004   loss
21   Clinton   Democratic  48.2  2016   loss
14      Bush   Republican  47.9  2000    win
20    Romney   Republican  47.2  2012   loss
22     Trump   Republican  46.1  2016    win
18    McCain   Republican  45.7  2008   loss
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
1     Carter   Democratic  41.0  1980   loss
11      Dole   Republican  40.7  1996   loss
4    Mondale   Democratic  37.6  1984   loss
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
12     Perot  Independent   8.4  1996   loss
2   Anderson  Independent   6.6  1980   loss

For Series, the `value_counts` method is often quite handy.

In [175]:
pd.DataFrame(elections[['Result','Party']].value_counts(),columns=['Counts'])

                    Counts
Result Party
loss   Democratic        6
win    Republican        6
loss   Republican        4
win    Democratic        4
loss   Independent       3

Also commonly used is the `unique` method, which returns all unique values as a numpy array.

In [189]:
elections['Party'].unique()

array(['Republican', 'Democratic', 'Independent'], dtype=object)

Goal 5: Name whose popularity has changed the most.

In [201]:
ay1 = np.arange(0,10,1)
ay2 = np.arange(0,9,1)
ay1,ay2

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), array([0, 1, 2, 3, 4, 5, 6, 7, 8]))

In [202]:
ay1 + ay2

ValueError: operands could not be broadcast together with shapes (10,) (9,)

In [204]:
ay3 = np.array([[1,2,3],[4,5,6]])
ay4 = np.array([1,1,1])
ay3, ay4

(array([[1, 2, 3],
        [4, 5, 6]]),
 array([1, 1, 1]))

In [205]:
ay3 - ay4

array([[0, 1, 2],
       [3, 4, 5]])